/*media de incompatibilidade*/
@media only screen and (max-width: 1149px){
    .incompatibility{
        display: flex;
    }
}

@media only screen and (max-height: 575px){
    .incompatibility{
        display: flex;
    }
}

@media only screen and (max-height: 880px){
    .page-init .desk-area .edit-desk{
        height: 80vh;
    }

    .page-init .right .camadas{
        height: 65vh;
    }
}

@media only screen and (max-height: 810px){
    .page-init .desk-area .edit-desk{
        height: 80vh;
    }

    .page-init .right .camadas{
        height: 63.5vh;
    }
}

@media only screen and (max-height: 740px){
    .page-init .desk-area .edit-desk{
        height: 79vh;
    }

    .page-init .right .camadas{
        height: 58vh;
    }
}

@media only screen and (max-height: 700px){
    .page-init .desk-area .edit-desk{
        height: 75vh;
    }

    .page-init .right .camadas{
        height: 53vh;
    }
}